* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    width: 100%;
    padding: 2% 0;
    background-color: white;
    color: #F45D00;
    border-top: 1px solid #F45D00;
    display: flex;
    justify-content: space-around;
}

.autores h2, .local h2 {
    margin-bottom: 20px;
}

.autores h4, .local h4 {
    margin-bottom: 5px;
}