@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: .2em 2em;
    background-color: white;
    border-bottom: 1px solid #F45D00;
    display: flex;
    align-items: center;
}

header .logotipo {
    width: 20%;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .dropdown {
    display: none;
}

header .navbar {
    width: 60%;
}

header .navbar ul {
    display: flex;
    list-style: none;
}

header .navbar li {
    margin-right: 3em;
    transition-duration: 0.3s;
}

header .navbar li:hover {
    transform: scale(1.5);
}

header .navbar a {
    text-decoration: none;
    color: #F45D00;
    font-weight: bold;
}

header .conta {
    width: 20%;
    margin-right: 2em;
    display: none;
}

header .conta .a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .conta .a a {
    text-decoration: none;
    color: black;
}

header .conta .a h4 {
    transition-duration: 0.3s;
}

header .conta .a img {
    margin-right: 2em;
    border-radius: 50px;
}

header .conta h4:hover {
    transform: scale(1.20);
}

header .conta img:hover {
    border: 1px solid #4169E1;
}

header .login {
    width: 20%;
    margin-right: 2em;
    display: block;
}

header .login a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .login a h4 {
    transition-duration: 0.3s;
}

header .login a img {
    margin-left: 2em;
    border-radius: 50px;
}

header .login a:hover h4{
    transform: scale(1.20);
}

header .dropdown {
    display: none;
}

header .dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    z-index: 1;
    list-style: none;
    border: 1px solid #F45D00;
    border-bottom: none;
}

header .dropdown-content a {
    color: #F45D00;
    padding: 1em 2em;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #F45D00;
}

header .dropdown img:hover {
    cursor: pointer;
}

header .dropdown:hover .dropdown-content {
    display: block;
}

/* responsividade */
@media screen and (max-width: 890px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header .dropdown {
        width: 60%;
        padding: 0 2em;
        display: flex;
        justify-content: flex-start;
    }

    header .dropdown ul {
        display: none;
    }

    header .navbar {
        display: none;
    }
}