* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    background-color: #4169E1;
}

.body {
    width: 100%;
    min-height: 70vh;
    padding: 2.5em 0;
    display: flex;
    justify-content: center;
}

.content {
    width: 75%;
    padding: 3em;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.profilePicture {
    width: 40%;
}

.profileInfo {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileInfo form {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.input {
    width: 48%;
    margin-bottom: 3em;
}

.input input {
    width: 90%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
}

.input h2 {
    margin-bottom: .5em;
}

.butons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.changePassBtn, .editProfileBtn, .saveChangesBtn, .dontSaveChangesBtn {
    width: 30%;
    padding: 1em;
    background-color: white;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.changePassBtn:hover, .editProfileBtn:hover, .saveChangesBtn:hover, .dontSaveChangesBtn:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.changePassBtn {
    color: #F45D00;
    font-weight: bold;
    border: 2px solid #F45D00;
}

.changePassBtn:hover {
    color: white;
    font-weight: bold;
    background-color: #F45D00;
}

.editProfileBtn {
    color: #4169E1;
    font-weight: bold;
    border: 2px solid #4169E1;
}

.editProfileBtn:hover {
    color: white;
    font-weight: bold;
    background-color: #4169E1;
}

.saveChangesBtn {
    display: none;
    color: #159f23;
    font-weight: bold;
    border: 2px solid #159f23;
}

.saveChangesBtn:hover {
    color: white;
    font-weight: bold;
    background-color: #159f23;
}

.dontSaveChangesBtn {
    display: none;
    color: #db1818;
    font-weight: bold;
    border: 2px solid #db1818;
}

.dontSaveChangesBtn:hover {
    color: white;
    font-weight: bold;
    background-color: #db1818;
}

/* responsividade */
@media screen and (max-width: 1100px) {
    .input {
        width: 100%;
        margin-bottom: 2em;
    }

    .butons {
        flex-direction: column;
    }

    .changePassBtn, .editProfileBtn, .saveChangesBtn, .dontSaveChangesBtn {
        width: 100%;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 890px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .profilePicture {
        width: 100%;
        margin-bottom: 2em;
    }

    .profileInfo {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 50%;
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 650px) {
    .profileInfo form{
        text-align: center;
    }
    
    .input {
        width: 100%;
        margin-bottom: 2em;
    }
    
    .input input {
        width: 100%;
    }
}