@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #4169E1;
    min-height: 100vh;
}

.body {
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.content {
    width: 75%;
    padding: 3em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
}

.title h1 {
    color: #F45D00;
    margin-bottom: 1em;
}

.usersTable {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    overflow-y: scroll;
    display: flex;
    margin-bottom: 5em;
}

.usersTable table {
    width: 80%;
    border: none;
    border-collapse: collapse;
    white-space: nowrap;
    margin-left: 10%;
}

.usersTable tr:hover {
    background-color: #eeeeee;
}

.usersTable table th {
    padding: 1em;
    text-align: start;
    border-bottom: 1px solid grey;
}

.usersTable table td {
    padding: 1em;
    border-bottom: 1px solid grey;
}

.addFriendBtn {
    width: 90%;
    padding: .5em;
    background-color: white;
    border-radius: 3px;
    transition-duration: 0.2s;
    color: #159f23;
    font-weight: bold;
    border: 2px solid #159f23;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reportBtn {
    width: 90%;
    padding: .5em;
    background-color: white;
    border-radius: 3px;
    transition-duration: 0.2s;
    color: #db1818;
    font-weight: bold;
    border: 2px solid #db1818;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addFriendBtn img, .reportBtn img {
    transition-duration: 0.2s;
}

.addFriendBtn:hover, .reportBtn:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.addFriendBtn:hover {
    color: white;
    background-color: #159f23;
}

.addFriendBtn:hover > img {
    filter: grayscale(100%) brightness(0%) invert(100%);
}

.reportBtn:hover {
    color: white;
    background-color: #db1818;
}

.reportBtn:hover > img {
    filter: grayscale(100%) brightness(0%) invert(100%);
}

.report {
    width: 100%;
}

.reportTitle {
    width: 100%;
    text-align: justify;
    color: #db1818;
}

.reportTitle h3 {
    color: white;
    padding: 2em;
    background-color: #db1818;
    border-radius: 2px;
    margin-bottom: 2em;
}

.reportTitle a {
    color: #4169E1;
}

.report form {
    width: 100%;
    padding: 1em 5em;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 1em 0;
    display: flex;
}

.input label {
    width: 20%;
    margin-left: 1em;
    font-weight: bold;
}

.input input, .input select,.input textarea  {
    width: 80%;
    padding: .5em;
    border: 1px solid grey;
    border-radius: 2px;
    resize: none;
}

.buton {
    width: 100%;
    padding: 0 5em 5em 5em;
}

.submitReportBtn {
    width: 30%;
    padding: 1em;
    background-color: #159f23;
    color: white;
    font-weight: bold;
    border: 2px solid #159f23;
    border-radius: 3px;
    transition-duration: 0.2s;
    float: right;
}

.submitReportBtn:hover {
    color: #159f23;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transform: scale(1.10);
}

/* responsividade */
@media screen and (max-width: 1100px) {
    .input label {
        width: 25%;
        margin-left: .5em;
    }

    .input input, .input select,.input textarea {
        width: 70%;
    }

    .submitReportBtn {
        width: 77%;
    }
}

@media screen and (max-width: 890px) {
    .content {
        width: 90%;
        padding: 2em;
    }

    .usersTable table th, .usersTable table td {
        padding: .5em;
    }

    .report form {
        padding: 1em 2.5em;
    }
    
    .input {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .input label {
        width: 100%;
        margin-left: 0;
        margin-bottom: .5em;
    }

    .input input, .input select,.input textarea {
        width: 100%;
    }

    .buton {
        padding: 0 2.5em 1em 2.5em;
        text-align: center;
    }

    .submitReportBtn {
        width: 60%;
        float: none;
    }
}

@media screen and (max-width: 650px) {
    .report form {
        padding: 1em;
    }

    .submitReportBtn {
        width: 80%;
    }
}